.p-app {
    height: 100%;
    width: 99%;
}

#app {
    background:#474747;
    height: 100vh !important;
    width: 100vw !important;
    color: white;
}
.p-body {
    opacity: 50%;
}
.p-main {
    height: 85vh !important;
}
.p-footer {
    background-color: #F4D03F;
    width: 101%;
    color: #006A4E; 
    padding: 5px;
    padding-left: 20px;
    height: 30px;
}